* {
    box-sizing: border-box;
}

table {
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
}

thead {
    text-align: left;
    color: #404040;
}

tbody {
    display: block;
    height: 128px;
    overflow: auto;
    color: #808080;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th {
    background-color: #FFFFCC;
    border-spacing: 10px;
}

td, th {
    padding: 10px;
    vertical-align: middle;
    border-spacing: 5px;
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

tbody tr:hover {
    background-color: #E0E0E0;
}



